@charset "UTF-8";

.section {
  margin: 300px 100px;
  padding-bottom: 50px;
}
.section h3 {
  text-align: center;
  font-size: 40px;
  color: #078c0c;
  font-weight: bold;
  line-height: 1;
}
.section h3 small {
  font-size: 20px;
}

.ir_news {
  display: grid;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 100px 0 30px;
}
.ir_news .ir_news_list {

  margin: 20px 50px;
  text-align: left;
  padding: 30px;
}

.ir_news .ir_news_list th,
td {
  font-size: 18px;
  line-height: 2;
  border: solid 1px;
  padding: 5px;
}
.stock_price {
  text-align: center;
  display: grid;
  position: relative;
}
.price_bg {
  background-color: #eee;
  width: 500px;
  position: relative;
  left: 0px;
  right: 0;
  margin: 20px auto;
}
.stock_price h4 {
  font-size: 30px;
  text-align: center;
}
.stock_price p {
  text-align: center;
}
.policy{
  display: grid;
}

.policy_bg {
  background: #eee;
  width: 90%;
  height: 400px;
  margin: 20px auto;
  z-index: 0;
}
.policy_element {
  padding: 20px 0 20px;
}

.policy_element ul {
  background: #fff;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 100px;
  margin: auto;
}

.policy_element ul li {
  list-style: disc;
  width: 40%;
  margin-bottom: 20px;
}

.policy_bg .btn {
  float: right;
  width: 13%;
  text-align: center;
  background: #078c0c;
  padding: 10px 20px;
  margin: 0 17% 8% 0;
}

.policy_bg .btn a {
  color: #fff;
  font-size: 15px;
}
